body {
  background-color: #121212;
  color: #f1f1f1;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}



h1 {
  margin-bottom: 20px;
  color: #00c8ff;
}




.container {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 200, 255, 0.2);
  width: 90%;
  max-width: 600px;
}




input {
  margin: 10px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
  background: #2a2a2a;
  color: #fff;
}



button {
  background: #00c8ff;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  color: #121212;
  font-weight: bold;
  margin-top: 10px;
  
}

button:hover {
  background: #21e735;
}

.wall-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  margin-top: 25px;
  height: 280px;
  border-bottom: 2px solid #00c8ff;
  padding-bottom: 25px;
}


.wall {
  width: 30px;
  background: #00c8ff;
  border-radius: 2px;
  transition: height 0.4s ease-in-out;
}



.wall-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}





.wall-label {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #00c8ff;
  text-align: center;
  min-height: 15px;
}



.result {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #f1f1f1;
}




.error {
  margin-top: 10px;
  color: #ff4d4d;
  font-size: 14px;
}
